* {
    box-sizing: border-box;
  }

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    width: 50%;
  }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.col-25 {
float: left;
width: 25%;
margin-top: 6px;
text-align: right;
}

.col-75 {
float: left;
width: 75%;
margin-top: 6px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #04AA6D;
    color: white;
  }

  .chatEmail{
    color: blue;
  }

  .chatFecha{
    color:red;
  }

  .chatMensaje{
    color:green;
  }