/node_modules
productos.txt


clase07_ejercicio02/node_modules/
clase07_ejercicio02/package-lock.json
clase07_ejercicio02/package.json
clase07_ejercicio02/public/
clase07_ejercicio02/routes/index.js
clase07_ejercicio02/routes/users.js
clase07_ejercicio02/views/

clase07_ejercicio03/node_modules/
clase07_ejercicio03/package-lock.json
clase07_ejercicio03/package.json
clase07_ejercicio03/public/
clase07_ejercicio03/routes/index.js
clase07_ejercicio03/routes/users.js
clase07_ejercicio03/views/
clase07_ejercicio03/routes/index.js
clase07_ejercicio03/routes/users.js

clase08_ejercicio01/node_modules/
clase08_ejercicio01/package-lock.json
clase08_ejercicio01/package.json
clase08_ejercicio01/public/
clase08_ejercicio01/routes/index.js
clase08_ejercicio01/routes/users.js
clase08_ejercicio01/views/
clase08_ejercicio01/routes/index.js
clase08_ejercicio01/routes/users.js

desafio_clase08/node_modules/
desafio_clase08/public/images/
desafio_clase08/public/stylesheets/
desafio_clase08/routes/index.js
desafio_clase08/routes/users.js
desafio_clase08/views/

clase09_ejercicio01/node_modules/
clase09_ejercicio01/package-lock.json
clase09_ejercicio01/package.json
clase09_ejercicio01/public/stylesheets/
clase09_ejercicio01/routes/
clase09_ejercicio01/views/

clase09_ejercicio02/node_modules/
clase09_ejercicio02/package-lock.json
clase09_ejercicio02/package.json
clase09_ejercicio02/public/
clase09_ejercicio02/routes/
clase09_ejercicio02/views/error.jade
clase09_ejercicio02/views/index.jade
clase09_ejercicio02/views/layout.jade

clase09_ejercicio03/node_modules/
clase09_ejercicio03/package-lock.json
clase09_ejercicio03/package.json
clase09_ejercicio03/public/
clase09_ejercicio03/routes/
clase09_ejercicio03/views/error.jade
clase09_ejercicio03/views/index.jade
clase09_ejercicio03/views/layout.jade