

    <h1 class="titulo">Cliente Websockets</h1>
    <br>
    <form onsubmit="return addMessage(this)">
        <input type="text" id="mensaje" placeholder="escribir mensaje"> 
        <input type="submit" value="Enviar!">
    </form>
    <div id="listadoMensajes"></div>
